{% extends 'base.html' %}

{% block title %} Форма менти {% endblock %}

{% block style %}

form {
    margin-top : 150px;
text-align : center;
}

.img0 {
    float : right;
    height : 450px;
    width : 550px;
    margin: 10px;
    }

{% endblock %}

{% block body %}

    {% for msg in get_flashed_messages()%}
    <h2>{{msg}}!!!</h2>
    {% endfor %}
        <img src="/static/img/Team.jpeg" class="img0">
      <form action="/menti_request" method="post">
      <p>

        Ваше имя и фамилия<br>
        <input type="text" name="name" size="51">
      </p>
      <p>
        Телеграм для связи<br>
      <input type="text" name="telegram" size="51">
      </p>
        <p>
          Чтобы вы хотели обсудить?<br>
           <textarea name="message" required></textarea><br><br>
          <input type="submit" value="Отправить"  name="ok" class="button" >
        </p>
      </form>

{% endblock %}